<ion-modal
  [isOpen]="isOpen"
  [initialBreakpoint]="0.5"
  [breakpoints]="[0, 0.5, 0.9]"
  [handle]="true"
  (didDismiss)="closeModal()"
>
  <ng-template>

    <div class="modal-content">

      <div class="modal-header">
        <div>
          <h2>Section Details</h2>
          <p>Update the information below</p>
        </div>
      </div>

      <form>

        <!-- Subject Name -->
        <div class="input-container">
          <label for="subjectName">Section Name</label>
          <input
            id="subjectName"
            type="text"
            value="Database Systems"
            placeholder="Enter subject name"
          />
        </div>

        <!-- Year Level -->
        <div class="input-container">
          <label for="yearLevel">Year Level</label>

          <select id="yearLevel" name="yearLevel">
            <option value="first_year" selected>First Year</option>
            <option value="second_year">Second Year</option>
            <option value="third_year">Third Year</option>
            <option value="fourth_year">Fourth Year</option>
          </select>
        </div>

      </form>

      <div class="button-container">
        <ion-button expand="block">
          Save Changes
        </ion-button>
        <ion-button class="red-button" expand="block">
          Delete
        </ion-button>
      </div>

    </div>

  </ng-template>
</ion-modal>
