<ion-grid>
  <ion-row>

    <ion-col size="12" size-md="3">
      <ion-card class="action-card">

        <ion-card-header class="card-icon">
          <div class="subject-name">
            <h3>Section Name</h3>
            <p>Subject Code - Section Name</p>
          </div>
          <p>Status</p>
        </ion-card-header>

        <ion-card-content class="card-content">
          <ion-card-title>
            <i class="fa-solid fa-users"></i>
            <span>50</span>
          </ion-card-title>

          <div class="action-buttons">
            <button [routerLink]="['/super-admin/class/sessions']">
             View Class
            </button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

</ion-grid>
