<ion-content>

  <ion-grid class="main-inner-container">

    <!-- Header -->
    <ion-row class="ion-align-items-center">

      <ion-col>
        <h2>Semester 1 (2026-2027)</h2>
        <p>Current Semester subjects</p>
      </ion-col>

      <ion-col size="auto">
        <ion-button (click)="openAddSub()">
          <i class="fa-solid fa-plus"></i>
          New
        </ion-button>
      </ion-col>

    </ion-row>

    <!-- SEARCH BAR -->
    <ion-searchbar
      [(ngModel)]="searchText"
      placeholder="Search users..."
      debounce="300"
      (ionInput)="search()">
    </ion-searchbar>

    <ion-list>
      <ion-item *ngFor="let user of filteredUsers">
        {{ user.name }}
      </ion-item>
    </ion-list>

    <!-- YEAR LEVEL -->
    <ion-segment
      [value]="year_level"
      (ionChange)="onYearChange($event)"
    >
      <ion-segment-button value="1rst_year">
        <ion-label>1st Year</ion-label>
      </ion-segment-button>

      <ion-segment-button value="2nd_year">
        <ion-label>2nd Year</ion-label>
      </ion-segment-button>

      <ion-segment-button value="3rd_year">
        <ion-label>3rd Year</ion-label>
      </ion-segment-button>

      <ion-segment-button value="4rth_year">
        <ion-label>4rth Year</ion-label>
      </ion-segment-button>
    </ion-segment>

     <!-- CARDS -->
     <app-subject-cards></app-subject-cards>
     
     <!-- ADD SUBJECT -->
  <app-add-subject
    [isOpen]="isAddOpen"
    (closed)="isAddOpen = false">
  </app-add-subject>

  </ion-grid>
</ion-content>
