ion-menu {
  --width: 260px;
}

ion-menu ion-content {
  --background: #ffffff;
}

ion-list {
  padding: 12px;
}

ion-item {
  --background: transparent;
  --color: #475569;
  --border-radius: 10px;

  margin-bottom: 6px;
  cursor: pointer;
}

ion-item ion-icon {
  color: #64748b;
  font-size: 20px;
}

ion-item:hover {
  --background: #eef4ff;
  --color: #2563eb;
}

ion-item:hover ion-icon {
  color: #2563eb;
}


ion-header {
  box-shadow: none;
}

ion-toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.189);
  box-shadow: none;
}