<ion-modal
  [isOpen]="isOpen"
  [initialBreakpoint]="0.5"
  [breakpoints]="[0, 0.5, 0.9]"
  [handle]="true"
  (didDismiss)="closeModal()"
>
  <ng-template>

    <div class="modal-content">

      <div class="modal-header">
        <div>
          <h2>Semester Details</h2>
          <p>Create new Subject</p>
        </div>
      </div>

      <form>

        <!-- Subject Name -->
        <div class="input-container">
          <label for="subjectName">Semester (1/2)</label>
          <input
            id="subjectName"
            type="number"
            max="2"
            value="Database Systems"
            placeholder="Enter subject name"
          />
        </div>

        <!-- Subject Code -->
        <div class="input-container">
          <label for="subjectCode">YEAR</label>
          <input
            id="subjectCode"
            type="text"
            placeholder="Enter subject code"
          />
        </div>

      </form>

      <div class="button-container">
        <ion-button expand="block">
          Start new semeter
        </ion-button>
      </div>

    </div>

  </ng-template>
</ion-modal>
