<ion-content>
  <ion-grid class="main-inner-container">

    <!-- Back -->
    <div class="back-button" routerLink="/super-admin/classes">
      <i class="fa-solid fa-arrow-left"></i>
      <span>Back to classes</span>
    </div>

    <!-- Subject Card -->
    <ion-card class="subject-card">

      <ion-card-header>

        <div class="heading-container">
          <div>
            <ion-card-title>Subject Name</ion-card-title>
            <ion-card-subtitle>
              Subject Code - BSIT2A - Sessions : 20
            </ion-card-subtitle>
          </div>

          <ion-badge color="success">
            Active
          </ion-badge>
        </div>

      </ion-card-header>

      <ion-card-content>

        <div class="info-row">
          <i class="fa-solid fa-calendar"></i>
          <span>Semester 1 - 2026–2027</span>
        </div>

        <div class="info-row">
          <i class="fa-solid fa-users"></i>
          <span>20 Students</span>
        </div>

        <div class="info-row">
          <i class="fa-solid fa-user"></i>
          <span>Adviser: Randy Flores</span>
        </div>

      </ion-card-content>

    </ion-card>

    <!--Class info-->
    <ion-segment
      [(ngModel)]="selectedSection"
      scrollable="true"
      mode="md"
    >

      <ion-segment-button [routerLink]="['sessions']" value="bsit-1a">
        <ion-label>Sessions</ion-label>
      </ion-segment-button>

      <ion-segment-button [routerLink]="['students']" value="bsit-1b">
        <ion-label>Students</ion-label>
      </ion-segment-button>

      <ion-segment-button [routerLink]="['schedules']" value="bsit-2a">
        <ion-label>Schedules</ion-label>
      </ion-segment-button>

      <ion-segment-button [routerLink]="['summaries']" value="bsit-2b">
        <ion-label>Summaries</ion-label>
      </ion-segment-button>
    </ion-segment>

    <router-outlet></router-outlet>

  </ion-grid>
</ion-content>
