<ion-grid>
  <ion-row>

    @for (i of [].constructor(10); track $index) {
      <ion-col size="12" size-md="3">
        <ion-card class="semester-card">

          <ion-card-content class="card-content">
            <ion-card-title>
              Semester 1 <span>Active</span>
            </ion-card-title>

            <ion-card-subtitle>
              2026-2027
            </ion-card-subtitle>
          </ion-card-content>

          <div class="action-container">
            <ion-button>Subjects</ion-button>
            <ion-button>Sections</ion-button>
            <ion-button>Classes</ion-button>
          </div>

        </ion-card>
      </ion-col>
    }

  </ion-row>
</ion-grid>
