<ion-content>

  <ion-grid class="main-inner-container">

    <!-- Header -->
    <ion-row class="ion-align-items-center">

      <ion-col>
        <h2>Super Admin</h2>
        <p>Overview of the attendance system</p>
      </ion-col>

      <ion-col size="auto">
        <ion-button (click)="openAddSem()">
          <i class="fa-solid fa-plus"></i>
          New
        </ion-button>
      </ion-col>

    </ion-row>

    <!-- Semester Cards -->
    <ion-row>
      <ion-col size="12">
        <app-semester-cards [isOngoing]="isSemesterOngoing"> </app-semester-cards>
      </ion-col>
    </ion-row>

     <!-- ADD SUBJECT -->
  <app-add-semester
    [isOpen]="isAddOpen"
    (closed)="isAddOpen = false">
  </app-add-semester>

  <app-end-semester
    [isOpen]="isEndOpen"
    (closed)="isEndOpen = false">
  </app-end-semester>
  </ion-grid>

</ion-content>
